<html>
<%= render('_head.html.erb') %>
<body>
<% if pet.nil? %>
<div class="row-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <form class="form-inline" action="/create_pet" method="post">
          <h2>Enter name for your pet:</h2>
        <div class="form-group mx-sm-3">
            <input type="text" name="name" class="form-control" id="" placeholder="Name">
        </div>
        <button type="submit" class="d-grid gap-2 col-6 mx-auto btn btn-primary btn-lg" value="Start">Start</button>
      <% else %>
<h1> You already started the game </h1>
  <a href="/game">Play with <%= pet.name %>!</a>
<% end %>
    </form>
</div>
</body>
</html>