<html>
<%= render('_head.html.erb') %>
<body>
<div class="container">
    <h1 class="mt-5-fluid d-flex h-100 justify-content-center align-items-center p-0">Game Over!</h1>
    <p class="lead-fluid d-flex h-100 justify-content-center align-items-center p-0">Your pet has died... Do you want to get a new one?</p>
    <form action="/" method="get">
        <button type="submit" class="btn btn-primary d-grid gap-2 col-6 mx-auto" name="new_game" value="new_game">Start new game</button>
    </form>
</div>
</body>
</html>
